<div>

    <h1>Login</h1>

    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Contraseña</label>
        <input type="password" name="password">
        <input type="submit">
    </form>

    <p>¿No estás registrado? <a href="/views/register">Regístrate aquí</a></p>

</div>

<div>
    <a href='/api/sessions/github'><button>entrar con github</button></a>
</div>

<script src="../../public/js/login.js"></script>